@model FHNWPrototype.Application.Controllers.UIViewModels._Global.RightColumnView          

<div id="suggestions">

@if(Boolean.Parse(Session["isCorporateAccount"].ToString()) ==true){
    <h1>SUGGESTIONS</h1>
    <h2>SISTER DIVISIONS</h2>
    <article>
        <img class="advertisement" src="@Url.Action("GetOrganizationAvatarPicture", "OrganizationAccounts", new { id = @Model.SisterDivisionSuggestion.Key })" alt="picture"   />
        <h3>@Html.ActionLink(Model.SisterDivisionSuggestion.Value , "OrganizationAccount", "OrganizationAccounts", new { id = @Model.SisterDivisionSuggestion.Key  }, null)</h3>
        <h4>Headquaters</h4>
  
        <h4 id="@(Model.SisterDivisionSuggestion.Key)_sendRequest">
            @Ajax.ActionLink("Send Request", 
            "RequestPartnershipTo", 
            new { key = @Model.SisterDivisionSuggestion.Key },
            new AjaxOptions(){
            UpdateTargetId = @Model.SisterDivisionSuggestion.Key + "_sendRequest" ,
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace}, 
            new { id=@Model.SisterDivisionSuggestion.Key + "_sendRequest", enabled="true" })
        </h4>
    </article>
    <h2>PARTNERS</h2>
    <article>
        <img class="advertisement" src="@Url.Action("GetOrganizationAvatarPicture", "OrganizationAccounts", new { id = @Model.PartnerSuggestion.Key })" alt="picture"   />
        <h3>@Html.ActionLink(Model.PartnerSuggestion.Value , "OrganizationAccount", "OrganizationAccounts", new { id = @Model.PartnerSuggestion.Key  }, null)</h3>
        <h4>Headquaters</h4>

          <h4 id="@(Model.PartnerSuggestion.Key)_sendRequest">
                      @Ajax.ActionLink("Send Request", 
                    "RequestPartnershipTo", 
                    new { key = @Model.PartnerSuggestion.Key },
                    new AjaxOptions(){
                        UpdateTargetId = @Model.PartnerSuggestion.Key + "_sendRequest" ,
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace}, 
                    new { id=@Model.PartnerSuggestion.Key + "_sendRequest", enabled="true" })
        </h4>

    </article>
    <h2>ALLIANCES</h2>
    <article>                
        <img class="advertisement" src="@Url.Action("GetProfilePictureByAllianceKey", "Alliances", new { id = @Model.AllianceSuggestion.Key })" alt="picture"   />
        <h3>@Html.ActionLink(Model.AllianceSuggestion.Value , "Alliance", "Alliances", new { id = @Model.AllianceSuggestion.Key  }, null)</h3>
        <h4>Distribution of HP Products in Switzerland</h4>
    </article>
    
}
else
{
    
    <h1>SUGGESTIONS</h1>
    <h2>CO-WORKERS</h2>
 
    <article>
        <img class="advertisement" src="@Url.Action("GetProfilePictureByAccountKey", "UserAccounts", new { id = @Model.WorkContactSuggestion.Key })" alt="picture"   />
        <h3>@Html.ActionLink(Model.WorkContactSuggestion.Value , "UserAccount", "UserAccounts", new { id = @Model.WorkContactSuggestion.Key  }, null)</h3>
        <h4>Headquaters</h4>
  
        <h4 id="@(Model.WorkContactSuggestion.Key)_sendRequest">
            @Ajax.ActionLink("Send Request", 
            "RequestFriendshipTo", 
            new { key = @Model.WorkContactSuggestion.Key },
            new AjaxOptions(){
            UpdateTargetId = @Model.WorkContactSuggestion.Key + "_sendRequest" ,
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace}, 
            new { id=@Model.WorkContactSuggestion.Key + "_sendRequest", enabled="true" })
        </h4>
    </article>
    <h2>PARTNERSHIP CONTACTS</h2>
    <article>
        <img class="advertisement" src="@Url.Action("GetProfilePictureByAccountKey", "UserAccounts", new { id = @Model.PartnershipContactSuggestion.Key })" alt="picture"   />
        <h3>@Html.ActionLink(Model.PartnershipContactSuggestion.Value , "UserAccount", "UserAccounts", new { id = @Model.PartnershipContactSuggestion.Key  }, null)</h3>
        <h4>Headquaters</h4>

          <h4 id="@(Model.PartnershipContactSuggestion.Key)_sendRequest">
                      @Ajax.ActionLink("Send Request", 
                    "RequestFriendshipTo", 
                    new { key = @Model.PartnershipContactSuggestion.Key },
                    new AjaxOptions(){
                        UpdateTargetId = @Model.PartnershipContactSuggestion.Key + "_sendRequest" ,
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace}, 
                    new { id=@Model.PartnershipContactSuggestion.Key + "_sendRequest", enabled="true" })
        </h4>

    </article>
    <h2>GROUPS</h2>
    <article>                
        <img class="advertisement" src="@Url.Action("GetProfilePictureByGroupKey", "Groups", new { id = @Model.GroupSuggestion.Key })" alt="picture"   />
       <h3>@Html.ActionLink(Model.GroupSuggestion.Value , "Group", "Groups", new { id = @Model.GroupSuggestion.Key  }, null)</h3>
        <h4>Industrial Imports for Switzerland</h4>
    </article>
       }
</div>
