<div id="suggestions">
<h1>SUGGESTIONS</h1>
<h2>CO-WORKERS</h2>
<article>          
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/profileMen.jpg")" alt="picture"   />
    <h3><a href="">Mark Hartling</a></h3>
    <h4>Research Division</h4>
    <h4><a href="#">Add Contact</a></h4>
</article>
    <h2>PARTNERSHIP CONTACTS</h2>
    <article>           
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/profileWomen.jpg")" alt="picture"  />
    <h3><a href="">Kathrin Williams</a></h3>
    <h4>Engineering Division</h4>
    <h4>Nestle</h4>
    <h4><a href="#">Add Contact</a></h4>
</article>
    <h2>GROUPS</h2>
<article>                
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/group.jpg")" alt="picture"   />
    <h3><a href="">Marketing Strategies</a></h3>
    <p>This is part of the advertisement that you want to present to all users that could see this page</p>
</article>
    <h2>ALLIANCES</h2>
<article>                
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/alliance.jpg")" alt="picture"   />
    <h3><a href="">Swiss Logistics</a></h3>
    <p>This is part of the advertisement that you want to present to all users that could see this page</p>
</article>
</div>

 <div id="advertisement">
<h1>ADVERTISEMENT</h1>
<h2>LOGISTICS</h2>
<article>
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/adv4.jpg")" alt="picture"  />
    <h3><a href="">DHL Schweiz</a></h3>
    <p>This is part of the advertisement that you want to present to all users that could see this page</p>
</article>
    <h2>SUPPLIERS</h2>
<article>
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/adv2.jpg")" alt="picture"   />
    <h3><a href="">Galliker Logistik</a></h3>
    <p>This is part of the advertisement that you want to present to all users that could see this page</p>
</article>
    <h2>CUSTOMERS</h2>
<article>
    <img class="advertisement" src="@Url.Content("~/Content/themes/designv1/images/adv3.jpg")" alt="picture"    />
    <h3><a href="">Store XYZ</a></h3>
    <p>This is part of the advertisement that you want to present to all users that could see this page</p>
</article>
</div>