@model FHNWPrototype.Application.Controllers.UIViewModels.Messenger.MessengerPostView  
<section>
<article id="post_@(Model.Key)" class="post">
    <div class="post_avatar">
         <img src="@Url.Action("GetAvatarPictureByBasicProfile", "Retriever", new { key = @Model.Author.BasicProfile.ReferenceKey,accountType= @Model.Author.BasicProfile.AccountType  })" alt="picture"  class="profile_picture_post" />

    </div>
   <div class="post_content">
           <h2>@Html.ActionLink(Model.Author.FullName , "UserAccount", "UserAccounts", new { id = Model.Author.BasicProfile.ReferenceKey  }, null)</h2>
    <p class="post_text">
        @Model.Text
    </p>
    <nav class="actionlinks">
        <ul>
            <li><time datetime="@Model.PublishDateTime ">@Model.PublishDateTime </time></li>
        </ul>
    </nav>
   </div>

</article>
    </section>