@model FHNWPrototype.Application.Controllers.UIViewModels.Publishing.TweetView

<section id="section_@(Model.Key)">
<article id="tweet_@(Model.Key)" class="tweet">
    <div class="tweet_avatar">
           <img   src="@Url.Action("GetAvatarPictureByBasicProfile", "Retriever", new { key = @Model.Author.BasicProfile.ReferenceKey,accountType= @Model.Author.BasicProfile.AccountType   })" alt="picture"  class="profile_picture_tweet" />
    </div>

    <div class="tweet_content">
          
   @if(Model.Author.BasicProfile.AccountType== FHNWPrototype.Domain._Base.Accounts.AccountType.UserAccount)
   {
     <h2>@Html.ActionLink(Model.Author.FullName , "UserAccount", "UserAccounts", new { id = Model.Author.BasicProfile.ReferenceKey  }, null)</h2>
   }
   else
   {
        <h2>@Html.ActionLink(Model.Author.FullName , "OrganizationAccount", "OrganizationAccounts", new { id = Model.Author.BasicProfile.ReferenceKey  }, null)</h2>
   }
       <p>
        @Model.Text
    </p>
    <nav class="actionlinks">
        <ul>
            <li><img src="~/Content/themes/designv1/images/transparent.png" alt="tweet" class="tweet_icon" /></li>
            
            <li><time datetime="@Model.PublishDateTime">@Model.PublishDateTime</time></li>
            <li><a id="retweet_tweet_@(Model.Key)" href="#" class="retweet_tweet">Retweet</a></li>  
            <li>
                @if((Model.Author.BasicProfile.ReferenceKey == ((FHNWPrototype.Domain._Base.Accounts.CompleteProfile)Session["myProfile"]).BasicProfile.ReferenceKey.ToString()) || (Model.AllowedToDeleteTweet )){
                <a id="delete_tweet_@(Model.Key)" href="#" class="delete_tweet">Delete</a>
                }
            </li>
      
        </ul>
    </nav>

    </div>
     
</article>
</section>