@model FHNWPrototype.Application.Controllers.UIViewModels.Publishing.RetweetView 
<section id="section_@(Model.RetweetKey)">
<article id="retweet_@(Model.RetweetKey)" class="tweet">
    <div class="tweet_avatar">
          <img src="@Url.Action("GetAvatarPictureByBasicProfile", "Retriever", new { key = @Model.TweetAuthor.BasicProfile.ReferenceKey,accountType= @Model.TweetAuthor.BasicProfile.AccountType   })" alt="picture"  class="profile_picture_tweet" />
    </div>

    <div class="tweet_content">

        
   @if(Model.TweetAuthor.BasicProfile.AccountType== FHNWPrototype.Domain._Base.Accounts.AccountType.UserAccount)
   {
     <h2>@Html.ActionLink(Model.TweetAuthor.FullName , "UserAccount", "UserAccounts", new { id = Model.TweetAuthor.BasicProfile.ReferenceKey  }, null)</h2>
   }
   else
   {
        <h2>@Html.ActionLink(Model.TweetAuthor.FullName , "OrganizationAccount", "OrganizationAccounts", new { id = Model.TweetAuthor.BasicProfile.ReferenceKey  }, null)</h2>
   }
       <p class="tweet_text">
        @Model.Text
    </p>
    <nav class="actionlinks">
        <ul>
            <li><img src="~/Content/themes/designv1/images/transparent.png" alt="tweet" class="tweet_icon" /></li>
          
            <li><time datetime="@Model.TweetPublishDateTime ">@Model.TweetPublishDateTime </time></li>
              <li><img src="~/Content/themes/designv1/images/transparent.png" alt="retweeted" class="retweet_icon" /></li>
      @*        <li><time datetime="@Model.RetweetPublishDateTime">Retweet on @Model.RetweetPublishDateTime</time></li>*@
                     <li>Retweeted by @Model.RetweetAuthor.FullName</li>
            <li><a id="retweet_tweet_@(Model.TweetKey)" href="#" class="retweet_tweet">Retweet</a></li>  
            <li> 
                @if((Model.RetweetAuthor.BasicProfile.ReferenceKey == ((FHNWPrototype.Domain._Base.Accounts.CompleteProfile)Session["myProfile"]).BasicProfile.ReferenceKey.ToString()) || (Model.AllowedToDeleteRetweet )){
                <a id="delete_retweet_@(Model.RetweetKey)" href="#" class="delete_retweet">Delete</a>
                }
            </li>
      
        </ul>
    </nav>

    </div>

</article>
</section>