@model FHNWPrototype.Application.Controllers.UIViewModels.Chat.ChatMessageView  

<article class="post">
    <img src="@Url.Action("GetAvatarPictureByBasicProfile", "Retriever", new { key = @Model.Author.BasicProfile.ReferenceKey,accountType= @Model.Author.BasicProfile.AccountType  })" alt="picture"  class="profile_picture_post" />
 
    <h2>@Html.ActionLink(Model.Author.FullName , "UserAccount", "UserAccounts", new { id = Model.Author.BasicProfile.ReferenceKey  }, null)</h2>
  
    <p>
        @Model.Text
    </p>
    <nav class="actionlinks">
        <ul>
            <li>@Model.TimeStamp</li>
        </ul>
    </nav>
 </article>
